<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    <div class="row">
        <a href="/">Home</a>
        <a href="/user/details">Details</a>
        <a href="/user/logout">Logout</a>
    </div>
    <h1>Details</h1>
    
    <div class="ul">
        <li>Name: John Doe</li>
        <li>Works as : Software Engg</li>
        <li>Lives on : Work desk</li>
    </div>
   

</body>
<script>
    var dt = new Date();
    document.getElementById('date-time').innerHTML=dt;
    </script>
</html>